.section {
    flex: 1;
    box-sizing: border-box;
    border-radius: 27.396px;
    border: 1.906px solid #2F2E46;
    opacity: 0.8;
    background: rgba(61, 65, 94, 0.46);
    display: flex;
    align-items: center;
    padding: 18.27px;
    max-width: 20rem;
    transition: all 0.3s ease;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    border-radius: 9.132px;
    background: #0B0D29;
    height: 100%;
    align-items: center;
}

.section img {
    margin-bottom: -2.5rem;
    margin-top: 3rem;
    width: 155.756px;
    height: 158.681px;
    margin-right: 2rem;
    margin-left: 2rem;
    transition: all 0.2s ease-in-out;
    border-radius: 70%;

}

.section:hover img {
    transform: translateY(-25px);
    filter: drop-shadow(0px 8px 8px rgba(50, 95, 255, 0.2));
    border-radius: 70%;
    box-shadow: 0px 0px 20px 0px rgba(50, 95, 255, 0.5);

}

.info {
    width: 100%;
    padding: 2rem 1rem 0rem 1rem;
    text-align: center;
    border-radius: 0px;
    background: rgba(23, 20, 37, 0.25);
    box-shadow: 0px 2.92499px 19.06344px 0px rgba(41, 30, 85, 0.70) inset;
    backdrop-filter: blur(21.937450408935547px);
    height: 100%;
}

.info p {
    filter: blur(0.1px);
    transition: all 0.5s ease;
}

.section:hover .info h3 {
    filter: brightness(300%);
    transition: all 1s ease;
}

.section:hover .info p {
    filter:blur(0) brightness(300%);
}

.info h3 {
    color: #D9D9D9;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 24px */
}

.info p {
    color: var(--body, #6F6F7E);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
    text-transform: capitalize;
}