/* Common styles */

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 1.75rem;
    overflow-x: hidden;
}

.h2{
    text-align: center;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: 0.96px;
    background: var(--H1, linear-gradient(180deg, #FFF 0%, #434343 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width : 100%;
}

.h2+.p{ /* select p just after H2 */
    color: var(--Subtext, #9A9BA5);
    text-align: center;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: 0.18px;
    text-transform: capitalize;
    max-width: 58rem;
    margin-bottom: 5rem;
}

/* Top Quote Section */

.lightRays{
    position: absolute;
    top: -5rem;
    left: -14rem;
    width: 60rem;
    z-index: 2;
}

.quoteSection{
    height: 100vh;
    /* just experimental */
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    background-size:cover;
    margin-bottom: 5rem;
    padding: 1rem;
    overflow: hidden;
}

.quoteText{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 900px;
}

.community{
    padding: 8px 24px;
    border-radius: 8px;
    border: 1px solid #2D375F;
    background: #0A0C24;
    box-shadow: 4px 4px 8px 0px #19224B inset, -4px -4px 8px 0px #19224B inset;
    color: #D9D9D9;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 21.6px */
    letter-spacing: 0.72px;
}

.turning{
    background: var(--gradient, linear-gradient(90deg, #DAF1FF 4.29%, #54B7F9 38.71%, #936BF9 96.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quote{
    text-align: center;
    font-family: Inter;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 120%; /* 67.2px */
    letter-spacing: 1.12px;
    background: linear-gradient(180deg, #FFF 0%, #858794 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.downArrow{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #232832;
    background-color: #03051E;
    z-index: 3;
    transition: box-shadow 0.2s;
}

.downArrow:hover{
    box-shadow: 0 0 10px 1px #262840;
}

.arrowStroke{
    height: 2px;
    max-width: 1920px;
    width: 0vw;
    background-color: #EDF5FF;
    opacity: 0.2;
    position: absolute;
    bottom: 4rem;
}

/* Clubs Section */

.clubsCardsContainer{
    display: flex;
    gap: 1.75rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* Highlights section */

.highlightsSection .h2{
    max-width: 20rem;
}

.highlightsSection .p{
    max-width: 80%;
    margin-bottom: 2rem;
}

.highlightsContainer{
    display: flex;
}

.eventsSection{
    margin-top: 4rem;
}

/* Events section */

.eventsCardsContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Tablet styling */
/* if something needs to be same for both tablet and mobile change it just in tablet */
@media screen and (max-width: 780px) {
    .community{
        font-size: 1rem;
    }

    .highlightsSection{
        padding: 0rem;
    }

    .quote{
        font-size: 2.8rem;
    }

    .h2{
        font-size: 2.2rem;
    }

    .h2+.p{
        font-size: 1rem;
    }

    .downArrow{
        width: 3rem;
        height: 3rem;
        bottom: 3rem;
    }

    .arrowStroke{
        bottom: 4.5rem;
    }
}

/* Phone styling */
@media screen and (max-width: 590px) {
    .community{
        font-size: 1rem;
    }

    .quote{
        font-size: 2.2rem;
    }
    .lightRays{
        width: 50rem;
        left: -15rem;
        top: -2rem;
    }
}
/* forced styling */
@media screen and (max-width: 400px) {
    .h2+.p{
        font-size: 0.96rem;
    }
}
@media (min-width:401px) and (max-width: 600px) {
    .h2+.p{
        font-size: 1.1rem;
    }
}