.canvas{
    position: absolute;
    z-index: 2;
    transform: translate(0%, 0%);
}

/* Tablet styling */
@media screen and (max-width: 780px) {
    .canvas{
        transform: translate(0%, 0%);
    }
}

/* Phone styling */
@media screen and (min-width: 590px) {
    
}